*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0f0f1a;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:#151528;
}

.navbar h1{
  color:#9b5cff;
}

.navbar nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
}

.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero h2{
  font-size:60px;
  max-width:800px;
  margin-bottom:20px;
}

.hero p{
  color:#b3b3c6;
  max-width:600px;
  margin-bottom:30px;
  font-size:20px;
}

.hero button{
  padding:15px 35px;
  border:none;
  border-radius:10px;
  background:#9b5cff;
  color:white;
  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}
.dashboard{
  max-width:800px;
  margin:50px auto;
  padding:20px;
  text-align:center;
}

.dashboard input,
.dashboard select{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:8px;
}

.dashboard button{
  padding:12px 25px;
  background:#9b5cff;
  border:none;
  color:white;
  cursor:pointer;
  border-radius:8px;
}

#output{
  margin-top:30px;
  text-align:left;
  background:#1a1a2e;
  padding:20px;
  border-radius:10px;
}
